<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/assets/register/register.css">
</head>
<body>
    <div id="register_form">
        <label for="text">username : </label>
        <input type="text" name="username" id="username_field">

        <label for="email">email : </label>
        <input type="email" name="email" id="email_field">

        <label for="password">password : </label>
        <input type="password" name="password" id="password_field">

        <label for="confirm_password">confirm password</label>
        <input type="password" name="confirm_password" id="confirm_password_field">

        <button type="submit" id="register_form_submit">submit register</button>
    </div>
    <script type="module" src="/assets/register/web_register.js"></script>
</body>
</html>